body {
    background-color: #212529;
}

.title {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}


    .marginauto {
        margin: 10px auto 20px;
        display: block;
    }
